<%= form_tag password_resets_path, :method => :post, :class => 'form-horizontal' do %>
  <fieldset>
    <legend>Réinitialisation de votre mot de passe</legend>

    <div class="control-group">
    <%= label_tag "Adresse e-mail", :email.capitalize, :class => 'control-label' %>
      <div class="controls">
        <%= text_field_tag :email, params[:email], :class => 'text_field' %>
      </div>
  </div>
  <div class="form-actions">
    <%= submit_tag "Réinitialiser le mot de passe", :class => 'btn btn-primary' %>
  </div>

  </fieldset>
<% end %>
