<%= render :partial => 'breadcrumbs', :locals => {:action => "edit"} %>

<div class="page-header">
  <h2>
    Mise à jour du fichier
    <small>"<%= @document.file_name %>" pour <%= @user.name_tag %></small>
  </h2>
</div>

<%= render :partial => 'form' %>
