<%= render :partial => 'breadcrumbs', :locals => {:action => "new"} %>

<% content_for :right_pane do %>
  <div class="page-header">
    <h2>Instructions</h2>
  </div>
  <h3>Ajoutez un fichier: </h3>
  <p>
    Cliquer sur le bouton <strong>Choisissez un fichier</strong> puis sélectionnez un fichier dans la boite de dialogue et validez en appuyant sur <strong>Ouvrir</strong>.
  </p>
  <h3>Laisser un commentaire:</h3>
  <p>Inscrivez un commentaire dans le champ <strong>Commentaire</strong> prévu à cet effet</p>
  <h3>Envoyer :</h3>
  <p>
    Cliquer sur le bouton <strong>Ajouter un document</strong> pour effectivement lier le document au contrat.
  </p>
<% end %>

<div class="page-header">
  <h2>
    Nouveau document
    <small> pour <%= @user.name_tag %></small>
  </h2>
</div>

<%= render :partial => 'form' %>
