<% content_for :breadcrumbs do %>
<ul class="breadcrumb">
  <li>
    <i class="icon-home"></i>
    <%= link_to "Mes contrats", user_path(current_user) %>
    <span class="divider">/</span>
  </li>
  <li>
    <%= link_to "Contrat : #{@contract.name.capitalize}", user_contract_path(current_user, @contract) %>
    <span class="divider">/</span>
  </li>
  <li class="active">
    <%= link_to "Fichier : #{@document.file_name.capitalize}", user_contract_document_path(current_user, @contract, @document) %>
  </li>
</ul>
<% end %>

<h1>Document</h1>


<div class="form-actions">
  <%#= link_to 'Back', documents_path, :class => 'btn'  %>
  <%#= link_to 'Edit', edit_document_path(@document), :class => 'btn' %>
  <%#= link_to 'Delete', document_path(@document), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
